@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 206.4px 2.3fr 0.1px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "focus-section"
    "task-section"
    ".";
}

.focus-section {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "left-float timer tasks-list";
  grid-area: time;
}

.left-float { grid-area: left-float; }

.timer { grid-area: timer; }

.tasks-list { grid-area: tasks-list; }

.task-section {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "task-header task-header task-header"
    "Nav col-1 col-2";
  grid-area: task;
}

.Nav { grid-area: Nav; }

.col-1 { grid-area: col-1; }

.col-2 { grid-area: col-2; }

.task-header { grid-area: task-header; }

/* */

/*

.container {
  height: 100%;
}

.focus-section {
  width: 100%;
  height: 50%;

  color: blue;
}

.task-section {
  width: 100%;
  height: 50%;

  background-color: red;
}

*/

/* TASKING */

h1, h2, h3, h4, p {
  font-family: 'Inter', sans-serif;
  color: #303030;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px
}

html, body {
  height: 100%;
  width: 100%;
}

.task-list {
  margin: auto;
  padding: 50px;
  max-width: 50%;
  background-color: white;
}


/* COMPONENT Card Styling */

.task-card {
  padding: 10px;
  width: 100%;
  border: 2px solid #303030;
  border-radius: 15px;
  margin: 10px;
}

.main-task-container, .subtask-container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
}

.main-task-container .col-1, .subtask-container .col-1 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.complete-button {
  height: 20px;
  width: 20px;
  margin-right: 10px;  
  border: 1.5px solid #555555;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.complete-button:hover {
  background-color: #dbdbdb;
}

.complete-button:active {
  background-color: #7a90ff;
}

/* main-task title */

.main-task-container .col-1 button:first-child {
  border: 0px solid #555555;
  background-color: white;
  cursor: pointer;
  padding: 0px;
  margin-right: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* subtask list */

.subtask-container .row {
  margin-left: 25%;
}

.subtask-container .col-1 img {
  margin-left: 5px;
  margin-right: 10px;
}
.subtask-container .col-1 input {
  padding: 2px 5px 2px 0px;
  border: none;
  border-bottom: 1px solid #555555;
  outline: none;
}

.subtask-container .col-1 input:focus {
  padding: 2px 5px 2px 0px;
  border: none;
  border-bottom: 2px solid #7a90ff;
}
/*.subtask-container .col-1 input {
  margin-left: 25px;
  background-image: url('plus.png');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 2px 7px;
  padding: 5px 5px 5px 25px;
  border: none;
  border-bottom: 1px solid #555555;
}*/

.subtask-container h3, .subtask-container p {
  color: #474747;
}

.subtask-container .content{
  display: none;
  overflow: hidden;
}

/* ------------Timer------------*/

.focusSection{
  width: 50%;
  height: 100%;
  background-color:#555555;
}

.focusSection .container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /*transform: translate(75%, 0px);*/
}



.time-container {

  font-size: 150px;
  font-weight: 600;
  color: white;

  display: flex;
  justify-content: start;
  align-items: center;
}
